.footer{
    background-color: #1e2641;
    padding: 70px 0 75px 0;
    .container{
        display: flex;
        justify-content: space-between;
    }

    &-col:first-child{
        width: 45%;
    }
    &-col:last-child{
        margin-top: 28px;
    }
    &-nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        // color: white;
    }
    .footer-nav-menu{
        h4{
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.17em;
            text-transform: uppercase;
            margin-bottom: 10px;
            color: white;
        }

        
        ul a {
            font-weight: 500;
            font-size: 16px;
            line-height: 35px;
            color: white;

        }
        
    }
}

.footer-col{
    .footer-row{
        margin-bottom: 40px;
        // margin-top: 50px;


        p{
            font-family: 'IBM Plex Sans';
            font-weight: 500;
            font-size: 16px;
            line-height: 35px;
            color: white;
            margin-bottom: 5px;
        }
        input{
            width: 224px;
            height: 51px;
            background: #1E2641;
            border: 2px solid #3A456A;
            border-radius: 5px;
            margin-right: 10px;
            font-family: 'IBM Plex Sans';
            font-weight: 500;
            font-size: 16px;
            padding: 15px 15px 15px 15px;

            &::placeholder{
                color: #FFFFFF;
                font-weight: 600;

            }
        }

        // .buttons-send{
        //     width: 131px;
        //     height: 51px;
        //     background: #F1F2FC;
        //     border-radius: 5px;
        //     font-family: 'IBM Plex Sans';
        //     text-transform: uppercase;
        //     font-weight: 700;
        //     font-size: 16px;
        //     line-height: 21px;
        //     color: #1E2641;
        // }

        .social-links {
            display: flex;

            .social-link{
                width: 46px;
                height: 46px;
                display: flex;
                color: white;
                font-size: 30px;
                border-radius: 3px;
                margin-right: 10px;
                align-items: center;
                justify-content: center;
                
                &:last-child{
                    margin-right: 0;
                }

            &.facebook {
                background: #4C6EA7;
            }
            &.twitter {
                background: #4297C4;
            }
            &.instagram {
                background: linear-gradient(46.93deg, #FFB73D 0%, #C47067 45.55%, #9D23E4 96.85%);
            }
            }
        }

    }
}
