

header {

    nav {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        box-shadow: 2px 3px 2px #f1f1f1;
    
        img {
            margin-top: 25px;
            margin-bottom: 15px;
            margin-left: 15px;
        }
    
        a {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            text-decoration: none;
            padding: 0px 56px 25px 0px;
            color: black;
    
        }
    
    
        ul {
            display: flex;
            margin-right: 199px;
            margin-left: auto;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
    
        }
    }
}
