

.news{
    
    h3 {

    }

    &-punchline{
        $self: '.punchline';
        display: flex;
        margin-top: 50px;
        margin-bottom: 86px;
        justify-content: space-evenly;

        .subject{
            font-weight: 700;
            font-size: 15px;
        }

        .date {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
        }
        


        #{ $self }-box {
            width: 290px;
            height: 231px;
            display: flex;
            margin-right: 30px;
            flex-direction: column;

            &:last-child {
                margin-right: 0;
            }
        }

        img{
            width: 100%;
            max-width: 100%;
        }

    }
}