
.thoughts{
    text-align: center; 
    border-bottom: 1px solid rgba(20, 32, 62, 0.2);
    line-height: 0.1em;
    margin: 10px 0 20px; 
    margin-right: 508px;
    margin-left: 508px;

    h3{
        font-family: 'IBM Plex Sans';
        font-weight: 600;
        font-size: small;
    }

    span{
        background:#fff; 
        padding:0 10px; 
    }
}